[Connection]
nick      : Bot
passwd    : password
server    : irc.netgamers.org
port      : 6667

[Admins]
# multiple admins can be added
ellonweb  : 1

[Alliance]
name      : Ascendancy
cookies   : 4
members   : 80

[Channels]
# home channel is all that is required at the moment
# only special channels need to be defined here
# everything else will be stored in the db
home      : #radiator

[Misc]
errorlog  : errorlog.txt
scanlog   : scanlog.txt
arthurlog : arthurlog.txt
usercache : join
#                         "rapid", "join", "command" or blank
robocop   : 12345
#                         local TCP/IP port to use
sms       : combined
#                         "clickatell", "googlevoice", or "combined"

[DB]
driver    : psycopg2
dbms      : postgresql
username  : Elliot
password  : moo
host      : localhost
port      : 5432
database  : merlin
URL       : %(dbms)s+%(driver)s://%(username)s:%(password)s@%(host)s:%(port)s/%(database)s

[Access]
# member access needed for !letmein, bare minimum etc
# admin access is used by a few commands also
galmate   : 0
half      : 50
member    : 100
admin     : 1000

[Arthur]
public    : False
intel     : member
scans     : half

[URL]
arthur    : http://melons.net:8000/
ships     : http://game.planetarion.com/manual.pl?page=stats
planets   : http://game.planetarion.com/botfiles/planet_listing.txt
galaxies  : http://game.planetarion.com/botfiles/galaxy_listing.txt
alliances : http://game.planetarion.com/botfiles/alliance_listing.txt
viewscan  : http://game.planetarion.com/showscan.pl?scan_id=%s
viewgroup : http://game.planetarion.com/showscan.pl?scan_grp=%s
reqscan   : http://game.planetarion.com/waves.pl?id=%s&x=%s&y=%s&z=%s
bcalc     : http://game.planetarion.com/bcalc.pl?

[clickatell]
user      : username
pass      : password
api       : api_key

[googlevoice]
user      : username
pass      : password
api       : api_key
